.topicos {
  background: var(--azul-degrade);
  text-align: center;
  padding: 1.5em 0;
}

.topicos__titulo {
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1em;
}

.topicos__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topicos__item {
  padding: 0 0.5rem;
  justify-content: space-between;
  margin: 2.5em 0.5em;
}

.topicos__link {
  font-size: 14px;
  padding: 1em 1.5em;
  background-color: var(--laranja);
  color: white;
  font-weight: 700;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .topicos__titulo {
    font-size: 24px;
  }

  .topicos__link {
    font-size: 24px;
  }
}
